/* Weights: 400, 600, 700
Font size (paragraph): 14px
### Primary

- Green: hsl(75, 94%, 57%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 20%)
- Dark Grey: hsl(0, 0%, 12%)
- Off Black: hsl(0, 0%, 8%) */

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary: hsl(75, 94%, 57%);
  --font: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 8%);
  --btn: hsl(0, 0%, 20%);
  --card: hsl(0, 0%, 12%);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--background);
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, p, a {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: var(--card);
  max-width: 350px;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  border-radius: .5rem;
}

.container {
  padding: 2rem;
}

.profile__img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.profile__heading {
  font-size: 20px;
  font-weight: 700;
  margin: .5rem;
}

.profile__subheading {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}

.profile__tagline {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.socials {
  display: grid;
  gap: 1rem;
}

.socials__item {
  background-color: var(--btn);
  font-weight: 600;
  border-radius: .3rem;
  padding: .5rem;
}

.socials__item:hover, 
.socials__item:focus {
  background-color: var(--primary);
  cursor: pointer;
  caret-color: black;
  color: var(--background);
}
